*{margin: 0 auto;padding: 0;}
body{
	width: 800px;
}
h1{
	text-shadow: 2px 2px 2px #333, 0px 0px 5px #666;
	color:#e8e8e8; 
	font-size: 30px; 
	font-weight:bold;
	text-align:right;
	margin-top:15px;
}
section{
	padding: 6px 0px;
}
hr{
	border-style: inset;
	border-width: 1px;
	/*-webkit-margin-before: 2em;
	-webkit-margin-after: 2em;*/
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;	
}
article{
	padding: 10px 0px;
}
.item-title{
	width: 100px;
	padding: 4px;
	line-height: 1.8;
}
.item-content{
	padding: 4px;
	line-height: 1.8;
}
table{
	width: 100%;
	display: table;
	border-collapse:separate;
	border-spacing: 2px;
	border-color: grey;
}
tbody{
	vertical-align: middle;
}
.item-wra{
	display:-webkit-flex;
	display: flex;
	width: 100%;
	padding: 6px 0px;
	border-bottom: solid 1px #AAAAAA;
	margin-bottom: 6px;
}
.item-box-left{
	width: 100px;
	padding: 4px;
}
.item-box-right{
	margin-left: ;
	width: 700px;
}
.item-box-right{
	font-size: 18px;
	padding: 4px;
}
li{
	padding: 7px 0px;
	/*display: list-item;
	text-align: -webkit-match-parent;*/
	list-style-type: none;
}
li:before {
	content: "";
	background-image: url(../img/1.jpg);
	background-size: 30px 20px;
	width: 30px;
	height: 20px;
	padding-right: 30px;
	overflow: hidden;
}
ul{
	display: block;
	/*list-style-type: disc;*/
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end:0px;
	-webkit-padding-start:8px ;
}
.item-title-hl{
	font-size: 18px;
	padding: 4px;
	background-color: #DDDDDD;
	border-bottom: 2px solid #CCCCCC;
}
.project-title{
	font-size: 18px;
	padding: 4px;
	line-height: 1.8;
}
.project-sub-title{
	padding: 4px;
	line-height: 1.8;
	width: 70px;
}
.item-content{
	padding: 4px;
	line-height: 2.2;
}
#wrap{
      position:fixed;
      right:100px; 
      bottom:100px; 
      background-image:url(../img/f139.png);
      /*background-image必要的*/
      background-size: 32px 32px;
      width:32px; 
      height:32px; 
      /*设置倒影*/
      -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent),color-stop(0.1, transparent), to(white));  
    }
